<div id="body">
  <h2>Current presentation</h2>
  <h1 id="cur"></h1>

  <button id="like">Like</button>
</div>
<div id="login">
  <div style="color:black;cursor:pointer" onclick="javascript:fbLogin()" class="fbLoginButton"></div>
</div>